<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEcoSCADAData" />
                <binding name="BasicHttpBinding_IEcoSCADADataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://flexible.ecoscada.com/service_test/EcoSCADAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEcoSCADAData"
                contract="EcoSCADAService.IEcoSCADAData" name="BasicHttpBinding_IEcoSCADAData" />
            <endpoint address="http://flexible.ecoscada.com/production_service/EcoSCADADataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEcoSCADADataService"
                contract="NewEcoSCADADataService.IEcoSCADADataService" name="BasicHttpBinding_IEcoSCADADataService" />
        </client>
    </system.serviceModel>
</configuration>