@using System.Web.Optimization
@inherits System.Web.Mvc.WebViewPage<Smarterdam.Web.ViewModels.StatusViewModel>

@{
    ViewBag.Title = "Status";
}
@*@Scripts.Render("~/bundles/jquery")  *@
@Scripts.Render("~/bundles/highcharts")  

@foreach (var chartData in Model.Charts)
{
    @Html.Partial("Chart", chartData)
}

<div id="chartContainer"></div>
@*<div id="ErrorText">Testing error: @( Model.Error.HasValue ? Model.Error.Value.ToString("00.00") : "Unknown" )</div>*@